@charset "utf-8";


/* 横幅部分 */
.banner{
	height:150px;
	background:url(../pic/banner/40905409_p0.jpg) scroll -130px -100px;
	border-radius:15px;
}
.banner-word{
	font-size:1.8em;
	padding-left:30px;
}